:root {
	--rain-1: #ffffff00;
	--rain0: #ffffff;
	--rain1: #aaffff;
	--rain2: #53d2ff;
	--rain3: #33adff;
	--rain4: #2294f3;
	--rain5: #177edc;
	--rain6: #0d6dc7;
	--rain7: #903290;
	--rain8: #c72bc7;
	--rain9: #ff00ff;

	--index_1: #53862c;
	--index_2: #7ac42b;
	--index_3: #ffb300;
	--index_4: #eb8700;
	--index_5: #C00000;

	--index_-1: #53862c;
	--index_-2: #7AA92B;
	--index_-3: #20A88E;
	--index_-4: #2197A7;
	--index_-5: #2161A6;

	--aqi_1: #53862c;
	--aqi_2: #7ac42b;
	--aqi_3: #ffb300;
	--aqi_4: #eb8700;
	--aqi_5: #c00000;
	--aqi_6: #844292;

	--uvi_0: #53862c;
	--uvi_1: #53862c;
	--uvi_2: #7ac42b;
	--uvi_3: #ffb300;
	--uvi_4: #ffb300;
	--uvi_5: #ffb300;
	--uvi_6: #eb8700;
	--uvi_7: #eb8700;
	--uvi_8: #c00000;
	--uvi_9: #c00000;
	--uvi_10: #c00000;
	--uvi_11: #844292;

	--warnlevel1: #ffb300ae;
	--warnlevel2: #eb8700ae;
	--warnlevel3: #C00000ae;
	--warnlevel4: #9A0079ae;
}