:root {
	--bg0-default: url(../spotlight/default.jpg);
	--bg0: var(--bg0-default);
	--bg1-default: #0f95b4;
	--bg1: var(--bg1-default);

	--col: #ffffff;
	--col_img_bg: #ffffff;
	--col_nav: #ffffff60;
	--col_spotlight_info: #ffffff90;

	--transition: all 0.5s;

	--shadow: 0 0 10px #00000050;

	--bg_filter: blur(10px);
	--bg_container: #00000004;

	--cursor: url(../cursor.svg) 8 8, auto !important;
}

@font-face {
	font-family: main;
	src: url(../fonts/segoeui.ttf);
	font-weight: normal;
}

@font-face {
	font-family: main;
	src: url(../fonts/seguisb.ttf);
	font-weight: bold;
}

.icon_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: max-content;
	height: max-content;
}

.title {
	margin: 2.5px;
	font-weight: bold;
	font-size: 1.3em;
}

.subtitle {
	margin: 2.5px;
	font-weight: bold;
	font-size: 1.05em;
	border-bottom: 1px solid var(--col_spotlight_info);
}

.medium {
	font-size: 1.3em;
}

.medium2 {
	font-size: 1.15em;
}

.large {
	font-size: 1.8em;
}

.large2 {
	font-size: 1.45em;
}

.xlarge {
	font-size: 3em;
}

.xlarge2 {
	font-size: 2.5em;
}

.xxlarge {
	font-size: 6em;
}

maskimg,
.maskimg {
	height: 1.2em;
	width: 1.2em;
	display: inline-block;
	mask-size: contain;
	-webkit-mask-size: contain;
	background: currentColor;
}

.unit {
	font-size: 0.6em;
	opacity: 0.6;
}

.unit:not(.large .unit, .xlarge .unit, .xlarge2 .unit, .xxlarge .unit) {
	font-weight: bold;
}

.large .unit,
.xlarge .unit,
.xlarge2 .unit,
.xxlarge .unit {
	font-size: 0.4em;
}

.description {
	opacity: 0.6;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
}

.digit {
	font-size: 0.65em;
}

.data:not(.medium.data, .large.data, .large2.data, .xlarge.data, .xlarge2.data, .xxlarge.data) {
	font-weight: bold;
}

.data_icon,
.data_icon2 {
	width: 1.2em;
	height: 1.2em;
}

.data_icon {
	margin-right: 0.2em;
}

[onclick]:hover {
	opacity: 0.7;
}

html {
	color: var(--col) !important;
	background: var(--bg0);
	cursor: var(--cursor);
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: main, sans-serif;
	font-size: 15px;
	transition: var(--transition);
	overflow: hidden;
}

body {
	width: 800px;
	height: 480px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.bg_image {
	color: var(--col_img_bg);

	background-size: cover !important;
	background-origin: padding-box !important;
	background-attachment: scroll !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
}

section {
	box-sizing: border-box;
	background-clip: padding-box !important;
	padding: 5px;
	border-radius: 20px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	margin: auto;
}

.container,
.container2 {
	display: inline-block;
	padding: 7.5px;
	border-radius: 15px;
	margin: 2.5px;
	box-sizing: border-box;
}

.container {
	backdrop-filter: var(--bg_filter);
	background: var(--bg_container);
}

section.container {
	margin: 0;
}

.info {
	position: absolute;
	right: 10px;
	top: 10px;
}

.load_data::before,
.load_data_error::before,
.time::before,
input[type="checkbox"]::before {
	width: 1em;
	height: 1em;
	background: currentColor;
	display: inline-block;
	content: ".";
	mask-size: contain;
	-webkit-mask-size: contain;
	vertical-align: -0.25em;
	margin-right: 0.2em;
}

.time::before {
	mask-image: url(../icons/clock.svg);
	-webkit-mask-image: url(../icons/clock.svg);
}

.load_data,
.load_data_error {
	margin: 0 5px;
}

.load_data::before,
.load_data_error::before {
	width: 1.25em;
}

.load_data::before {
	mask-image: url(../icons/fetch.svg);
	-webkit-mask-image: url(../icons/fetch.svg);
}

.load_data_error::before {
	mask-image: url(../icons/fetch_error.svg);
	-webkit-mask-image: url(../icons/fetch_error.svg);
}

hr {
	border: none;
	border-bottom: 1px solid var(--col);
}

nav {
	position: absolute;
	width: 100%;
	height: 100%;
}

nav .navitem {
	z-index: 100;
	position: absolute;
	color: var(--col_nav);
	text-shadow: var(--shadow);
	width: 1em;
	height: 1em;
	text-align: center;
	line-height: 1em;
}

nav #home {
	left: calc(50% - 20px);
	bottom: 10px;
	mask-image: url(../icons/menu.svg);
	-webkit-mask-image: url(../icons/menu.svg);
}

nav #next {
	right: 10px;
	top: calc(50% - 20px);
	width: 0.5em;
	mask-image: url(../icons/page_next.svg);
	-webkit-mask-image: url(../icons/page_next.svg);
}

nav #prev {
	left: 10px;
	top: calc(50% - 20px);
	width: 0.5em;
	mask-image: url(../icons/page_prev.svg);
	-webkit-mask-image: url(../icons/page_prev.svg);
}

menu {
	position: absolute;
	width: max-content;
	height: max-content;
	right: 0;
	left: 0;
	margin: auto !important;
	bottom: 70px;
	z-index: 100;
}

menu td {
	text-align: center;
}

menu th {
	text-align: left;
}

table {
	border-spacing: 0px;
	vertical-align: middle;
}

menu table table {
	border-spacing: 10px 15px;
}

#map_container {
	position: absolute;
	top: 0;
	left: 0;
}

#map_marker {
	background: var(--bg1);
	width: 40px;
	height: 40px;
	transform: translate(-50%, -100%);
	mask-image: url(../icons/map_pin.svg);
	-webkit-mask-image: url(../icons/map_pin.svg);
}

.map_overlayer {
	position: absolute;
	top: 0;
	left: 0;
}

.map_baselayer {
	position: absolute;
	top: 0;
	left: 0;
}

.spotlight_info span {
	color: var(--col_spotlight_info);
}

.precipitation_icons td {
	width: 40px;
	text-align: center;
}

.precipitation_timestamps td {
	font-size: 0.7em;
	text-align: center;
}

#forecast_detailed div div {
	padding-bottom: 0;
	padding-top: 2px;
	display: block;
	margin-top: 8px;
}

#forecast_today table {
	width: 100%;
	text-align: center;
}

#forecast_today table tr:first-of-type td {
	border-bottom: 1px solid var(--col_spotlight_info);
}

#forecast_today table tr td {
	width: calc(100% / 12);
}

.additional_icon {
	margin-left: 1em;
}

button {
	border: none;
	background: none;
	color: inherit;
	cursor: inherit;
	padding: 10px;
}

label {
	cursor: inherit;
}

input[type="checkbox"] {
	appearance: none;
	cursor: inherit;
	font-size: 20px;
	vertical-align: -2px;
	color: inherit;
}

input[type="checkbox"]::before {
	width: 1.2em;
	height: 1.2em;
	vertical-align: 0.05em;
}

input[type="checkbox"]::before {
	mask-image: url(../icons/toggle_off.svg);
	-webkit-mask-image: url(../icons/toggle_off.svg);
}

input[type="checkbox"]:checked::before {
	mask-image: url(../icons/toggle_on.svg);
	-webkit-mask-image: url(../icons/toggle_on.svg);
}

input[type="range"] {
	appearance: none;
	background: none;
	height: 1em;
	border-radius: 0.5em;
	border: none;
	cursor: inherit;
	/* slider progress trick */
	overflow: hidden;
}

input[type="range"]::-moz-range-thumb {
	appearance: none;
	border: none;
	height: 100%;
	width: 1em;
	background: var(--col);
	border-radius: 0 0.5em 0.5em 0;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	border: none;
	height: 100%;
	width: 1em;
	background: var(--col);
	border-radius: 0.5em;
	/* slider progress trick */
	box-shadow: calc(-400px - 0.5em) 0 0 400px var(--col);
}

input[type="range"]::-moz-range-track {
	background-color: var(--col_nav);
	border: none;
	height: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: var(--col_nav);
	border: none;
	height: 100%;
}

input[type="range"]::-moz-range-progress {
	background-color: var(--col);
	border: none;
	height: 100%;
}

[disabled] {
	opacity: 0.3;
}

.lightcolor {
	mask-image: url(../icons/lamp.svg);
	-webkit-mask-image: url(../icons/lamp.svg);
	padding: none;
	margin: 5px;
}