@font-face {
	font-family: main;
	src: url(https://rammer.org/_style/fonts/segoeui.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: main;
	src: url(https://rammer.org/_style/fonts/seguisb.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: main;
	src: url(https://rammer.org/_style/fonts/segoeuii.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: main;
	src: url(https://rammer.org/_style/fonts/seguisbi.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: icon_solid;
	src: url(https://rammer.org/_style/fonts/fa-solid-900.ttf);
	font-weight: bold;
}

@font-face {
	font-family: icon_regular;
	src: url(https://rammer.org/_style/fonts/fa-light-300.ttf);
	font-weight: normal;
}

@font-face {
	font-family: icon_regular;
	src: url(https://rammer.org/_style/fonts/fa-regular-400.ttf);
	font-weight: bold;
}

@font-face {
	font-family: icon_brand;
	src: url(https://rammer.org/_style/fonts/fa-brands-400.ttf);
	font-weight: bold;
}

:root {
	--color0: #ffffff;
	--img_monocolor0: saturate(0) brightness(100);

	--accent: #2161a6;
	--accent_transparent: #2161a671;
	--accent_color: #202020;
	--color: #000000;
	--color_invert: #ffffff;

	--bg: #fcfcfc;
	--accent_bg: #ffffff;

	--header_border: #42424230;
	--shadow: #00000030;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent_color: #e6e6e6;
		--color: #ffffff;
		--color_invert: #000000;

		--bg: #0d0d0d;
		--accent_bg: #0b0b0b;

		--shadow: #1a1a1a30;
	}
}

/**********************************************************************************************/

.icon_r {
	font-family: icon_regular !important;
}

.icon_s {
	font-family: icon_solid !important;
}

.icon_brand {
	font-family: icon_brand !important;
}

.icon_fixwidth {
	text-align: center;
	width: 1.25em;
	display: inline-block;
}

.inline {
	display: inline !important;
}

.large {
	font-size: 180%;
}

.large2 {
	font-size: 125%;
}

.x-large {
	font-size: 360%;
}

.x-large2 {
	font-size: 240%;
}

.small {
	font-size: 70%;
}

.attribution {
	color: var(--header_border);
}

.attribution a {
	color: inherit;
}

/**********************************************************************************************/

.loading {
	animation: spin 2s linear infinite;
	display: inline-block;
	vertical-align: middle;
	color: var(--accent);
	font-size: 1.5em;
	font-family: icon_solid;
	line-height: 1;
}

.loading::before {
	content: "\f3f4  ";
}

.bg_image .loading {
	color: inherit;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/**********************************************************************************************/

.title_image {
	height: 30vw;
	min-height: 250px;
	max-height: 400px;
	text-align: center !important;
	margin: 0 min(calc(0px - (100vw - 1200px) / 2), 0px);
	transition: all 0.5s;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0 5px 0;
}

h1 {
	font-size: 140%;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 115%;
	font-style: italic;
}

h5,
h6 {
	font-size: 110%;
	font-style: italic;
}

hr {
	border: none;
	border-top: 1px solid var(--header_border);
	width: 100%;
}

/**********************************************************************************************/

body,
html {
	color: var(--color);
	background: var(--bg);
	transition: all 0.5s;
	min-height: 100vh;
}

body {
	text-align: left;
	margin: auto;
	padding: 0px;
	width: 100%;
	min-width: 360px;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-family: main, sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;

	background-size: cover !important;
	background-origin: padding-box !important;
	background-attachment: scroll !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

a,
input,
button {
	transition: all 0.5s;
	outline: none;
}

a:hover,
button:hover,
input:hover {
	opacity: 0.7;
}

a {
	color: var(--accent);
	text-decoration: underline;
	cursor: pointer;
}

a.extern::before {
	content: "\f08e  ";
	font-family: icon_solid;
}

a.link::before {
	content: "\f0c1  ";
	font-family: icon_solid;
}

a.noline {
	text-decoration: none;
}

.bg_image a {
	color: inherit;
}

[onclick] {
	cursor: pointer;
}

input[type="checkbox"] {
	appearance: none;
	color: var(--accent);
	margin: 0;
	cursor: pointer;
}

input[type="checkbox"]::before {
	font-size: 1.25em;
	font-weight: bold;
	font-family: icon_regular;
}

input[type="checkbox"]:checked::before {
	content: "\f14a";
}

input[type="checkbox"].toggle:checked::before {
	content: "\e5b1";
}

input[type="range"] {
	appearance: none;
	background: none;
	height: 1em;
	border-radius: 2px;
	border: none;
	margin: 0 5px -3px 5px;
	cursor: pointer;
	transition: all 0.5s;
}

input[type="range"]::-moz-range-thumb {
	appearance: none;
	border-radius: 50%;
	border: none;
	background: var(--accent);
	width: 16px;
	height: 16px;
	transition: all 0.5s;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	border-radius: 50%;
	border: none;
	background: var(--accent);
	width: 16px;
	height: 16px;
	margin-top: -6px;
	transition: all 0.5s;
}

input[type="range"]::-moz-range-track {
	background-color: var(--accent_transparent);
	height: 4px;
	border: none;
	border-radius: 4px;
	transition: all 0.5s;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: var(--accent_transparent);
	height: 4px;
	border: none;
	border-radius: 4px;
	transition: all 0.5s;
}

input[type="range"]::-moz-range-progress {
	background-color: var(--accent);
	height: 4px;
	border: none;
	border-radius: 4px;
	transition: all 0.5s;
}

img.img_monocolor_white {
	filter: var(--img_monocolor0);
}

button {
	border: none;
	padding: 5px 8px;
	margin: 0 5px 5px 0;
	display: inline-block;
	border-radius: 15px;
	font-size: inherit;
	color: var(--color_invert);
	font-family: inherit;
	background: var(--accent);
	text-decoration: none;
	cursor: pointer;
}

.bg_image button {
	color: var(--color0);
}

.button_transparent {
	color: var(--accent);
	background: transparent;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	text-decoration: none;
	padding: 3px 6px;
	border-radius: 15.5px;
	display: inline-block;
	font-weight: bold;
	min-height: 25px;
	line-height: 25px;
	transition: all 0.5s !important;
}

.button_transparent_icon {
	display: inline-block;
	font-size: 1.3em;
	text-align: center;
	width: 1em;
}

.button_transparent:hover {
	background: var(--accent_transparent2);
}

.bg_image .button_transparent {
	color: inherit;
}

[disabled] {
	cursor: not-allowed;
	cursor: not-allowed;
	filter: saturate(20%);
}


table {
	border-style: none;
	border-width: 0px;
	border-spacing: 5px;
}

.content img {
	display: block;
	margin: 5px;
}

.container img {
	display: inline !important;
}

/**********************************************************************************************/

main,
aside {
	transition: all 0.5s;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

section {
	width: 100%;
	background-size: cover !important;
	background-origin: padding-box !important;
	background-attachment: scroll !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	transition: all 0.5s;
	position: relative;
}

section div {
	background-size: cover !important;
	background-origin: padding-box !important;
	background-attachment: scroll !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.content {
	padding: 15px;
	transition: all 0.5s;
	overflow-x: hidden;
}

.container {
	display: inline-block;
	border-radius: 15px;
	vertical-align: top;
	transition: all 0.5s;
}

.container {
	background: var(--accent_bg);
	color: var(--accent_color);
	padding: 15px;
	margin: 10px;
	box-shadow: 0 0 10px var(--shadow);
}

.content_container {
	padding: 10px;
	margin: 10px 15px;
	border-radius: 15px;
	background: var(--accent_bg);
	color: var(--accent_color);
	box-shadow: 0 0 10px var(--shadow);
}

.bg_image {
	background-size: cover !important;
	background-origin: padding-box !important;
	background-attachment: scroll !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	color: var(--color0) !important;
}